[submodule "bundle/vim-python-combined"]
	path = bundle/vim-python-combined
	url = https://github.com/mitsuhiko/vim-python-combined.git
[submodule "bundle/seoul256.vim"]
	path = bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
