*.log
*.old
.luarc.json
.netrwhist
.repro
.tests
bundle
data
debug
doc/tags
foo.*
lvim
nv
old_init.vim
plugged
plugin
pydiction/complete-dict
pydiction/complete-dict.last
ref
site
tags
tt.*
old
lazy
oli
david
